@charset "UTF-8";
form, h1{
	width: 600px;
	margin: auto;
	}
	
	
body{
font-family: sans-serif;
background-color: #eee;
}	

input, select, textarea {
font-family: verdana;
font-weight: normal;
font-size: 9pt;
color: #888;
}

input: hover, textarea:hover, select:hover{
background-color: green;

}
legend {
color: #0EA8EA;
font-weight: bold;
font-size: 13pt;
font-family: sans-serif;
}

fieldset {
border-color: #05F;
border-width: 3px;
margin: auto;
}
